<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:theme="@style/AppTheme">
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_mybb_notif" />
        <activity android:name=".ui.loading.LoadingActivity" />
        <activity android:name=".ui.chat.image.SendImageConfirmationActivity" />
        <activity
            android:name=".ui.chat.ChatRoomActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name="com.qiscus.qiscusmultichannel.ui.webView.WebViewActivity" />

        <receiver
            android:name=".util.NotificationClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.qiscus.OPEN_COMMENT_PN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>